section.gallery .bottom_row {
  margin-top: 6px;
  height: 28vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6px;
  min-height: 240px;
}
section.gallery .bottom_row .left {
  flex: 2;
  padding-right: 15px;
  background-image: url("../../../assets/Gallery/q.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section.gallery .bottom_row .right {
  flex: 1;
  background: var(--dk-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
section.gallery .bottom_row .right article {
  color: white;
  display: grid;
  place-items: center;
  gap: 20px;
  font-size: 0.6rem;
}
section.gallery .bottom_row .right article .ibe_icon {
  width: 70px;
}

/*Sm*/
@media (min-width: 640px) {
  section.gallery .bottom_row {
    margin-top: 15px;
    height: 35vh;
    gap: 15px;
  }
  section.gallery .bottom_row .right article {
    gap: 20px;
    font-size: var(--xxs);
  }
  section.gallery .bottom_row .right article .ibe_icon {
    width: 75px;
  }
}

/*Md*/
@media (min-width: 768px) {
  section.gallery .bottom_row {
    height: 45vh;
  }
  section.gallery .bottom_row .right article {
    font-size: var(--xs);
  }
  section.gallery .bottom_row .right article .ibe_icon {
    width: 100px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.gallery .bottom_row {
    height: 60vh;
  }
  section.gallery .bottom_row .right article {
    gap: 25px;
    font-size: var(--sm);
  }
  section.gallery .bottom_row .right article .ibe_icon {
    width: 150px;
  }
}

/*XXl*/
@media (min-width: 1536px) {
  section.gallery .bottom_row .right article {
    gap: 50px;
    font-size: var(--base);
  }
  section.gallery .bottom_row .right article .ibe_icon {
    width: 200px;
  }
}

/*2k*/
@media (min-width: 2000px) {
  section.gallery .bottom_row {
    margin-top: 40px;
    gap: 40px;
  }
  section.gallery .bottom_row .right article {
    gap: 50px;
    font-size: var(--lg);
  }
  section.gallery .bottom_row .right article .ibe_icon {
    width: 250px;
  }
}
