@import url("./top_row.css");
@import url("./mid_row.css");
@import url("./bottom_row.css");

section.gallery {
  background: var(--grey);
  padding: 60px 0;
}
section.gallery .wrapper {
  width: 96%;
  margin: auto;
  display: grid;
  place-items: center;
}

/*Sm*/
@media (min-width: 640px) {
  section.gallery .wrapper {
    width: 90%;
  }
  section.gallery {
    background: var(--grey);
    padding: 60px 0;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.gallery {
    padding: 80px 0;
  }
}

/*XXl*/
@media (min-width: 1536px) {
  section.gallery {
    padding: 100px 0;
  }
}

/*2k*/
@media (min-width: 2000px) {
  section.gallery {
    padding: 120px 0;
  }
}
