section.gallery .mid-row {
  margin-top: 6px;
  height: 18vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  min-height: 150px;
}
section.gallery .mid-row .left,
section.gallery .mid-row .mid,
section.gallery .mid-row .right {
  flex: 1;
}
section.gallery .mid-row .left {
  background: var(--dk-grey);
  display: grid;
  place-content: center;
}
section.gallery .mid-row .left div {
  width: 75%;
  margin: auto;
  display: grid;
  gap: 15px;
}
section.gallery .mid-row h3 {
  color: var(--lt-gold);
  font-size: var(--xxs);
}
section.gallery .mid-row cite {
  color: white;
  font-size: var(--xxs);
  text-align: right;
}
section.gallery .mid-row .mid {
  display: none;
  background-image: url("../../../assets/Gallery/xtent.jpg");
  background-size: cover;
}
section.gallery .mid-row .right {
  background-image: url("../../../assets/Gallery/d.jpg");
  background-size: cover;
}

/*Sm*/
@media (min-width: 640px) {
  section.gallery .mid-row {
    height: 30vh;
    margin-top: 15px;
    gap: 15px;
  }
  section.gallery .mid-row h3 {
    font-size: var(--xs);
  }
  section.gallery .mid-row cite {
    font-size: var(--xs);
  }
}

/*Md*/
@media (min-width: 768px) {
  section.gallery .mid-row {
    margin-top: 15px;
    height: 23vh;
    gap: 15px;
  }
  section.gallery .mid-row h3 {
    font-size: 1.1rem;
  }
  section.gallery .mid-row cite {
    font-size: 1rem;
  }
  section.gallery .mid-row .mid {
    display: block;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.gallery .mid-row {
    height: 33vh;
  }
  section.gallery .mid-row h3 {
    font-size: var(--sm);
  }
  section.gallery .mid-row cite {
    font-size: var(--sm);
  }
}

/*XXl*/
@media (min-width: 1536px) {
  section.gallery .mid-row h3 {
    font-size: var(--base);
  }
  section.gallery .mid-row cite {
    margin-top: 40px;
    font-size: var(--base);
  }
}

/*2k*/
@media (min-width: 2000px) {
  section.gallery .mid-row {
    margin-top: 40px;
    height: 33vh;
    gap: 40px;
  }
  section.gallery .mid-row h3 {
    font-size: var(--lg);
  }
  section.gallery .mid-row cite {
    margin-top: 40px;
    font-size: var(--lg);
  }
}
