/*Header Font*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
/*Paragraph Font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
/*Components*/
@import url("styles/components/header.css");
@import url("styles/components/btn.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark: #13292a;
  --grey: #988780;
  --lt-grey: #e7ded9;
  --dk-grey: #695853;
  --mauve: #8f6152;
  --lt-mauve: #b8745b;
  --dk-mauve: #662f1b;
  --lt-gold: #ffe5b6;
  --dk-gold: #ddbc85;
  --font: holiday;
  --font-header: montserrat classic;
  --font-para: montserrat extra-light;

  --std-padding: 5%;

  /*Font Sizes*/
  --k: 8rem;
  --xxxxl: 6rem;
  --xxxl: 5.5rem;
  --xxl: 4.8rem;
  --xl: 4.2rem;
  --lg: 3rem;
  --md: 2.5rem;
  --base: 2rem;
  --sm: 1.4rem;
  --xs: 1.2rem;
  --xxs: 0.8rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
p,
a {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Mobile*/
@media (min-width: 400px) {
}
/*Xs*/
@media (min-width: 500px) {
}
/*Sm*/
@media (min-width: 640px) {
}
/*Md*/
@media (min-width: 768px) {
}
/*Lg*/
@media (min-width: 1024px) {
}
/*Xl*/
@media (min-width: 1280px) {
}
/*2xl*/
@media (min-width: 1536px) {
}
/*3xl*/
@media (min-width: 2000px) {
}
/*4k*/
@media (min-width: 3000px) {
}
