section.gallery .bottom_row {
  margin-top: 15px;
  height: 60vh;
  width: 100%;
  display: flex;
  gap: 15px;
}

section.gallery .bottom_row .left {
  flex: 2;
  padding-right: 15px;
  background-image: url("../../../assets/Gallery/q.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section.gallery .bottom_row .right {
  flex: 1;
  background: var(--dk-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.gallery .bottom_row .right article {
  color: white;
  display: grid;
  place-items: center;
  gap: 20px;
  font-size: var(--sm);
}

section.gallery .bottom_row .right article .ibe_icon {
  width: 35%;
}
