@import url("./top_row.css");
@import url("./mid_row.css");
@import url("./bottom_row.css");

section.gallery {
  background: var(--grey);
  padding: 60px 0;
}
section.gallery .wrapper {
  width: 96%;
  margin: auto;
  display: grid;
  place-items: center;
}
/*Sm*/
@media (min-width: 640px) {
  section.gallery .wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
  }
}
/*2k*/
@media (min-width: 2000px) {
  section.gallery {
    padding: 120px 0;
  }
}
