section.gallery .mid-row {
  margin-top: 15px;
  height: 30vh;
  width: 100%;
  display: flex;
  gap: 15px;
}
section.gallery .mid-row .left,
section.gallery .mid-row .mid,
section.gallery .mid-row .right {
  flex: 1;
}

section.gallery .mid-row .left {
  background: var(--dk-grey);
  display: grid;
  place-content: center;
}
section.gallery .mid-row .left div {
  width: 75%;
  margin: auto;
  display: grid;
  gap: 15px;
}
section.gallery .mid-row h3 {
  color: var(--lt-gold);
  font-size: var(--sm);
}
section.gallery .mid-row cite {
  color: white;
  font-size: var(--sm);
  text-align: right;
}
section.gallery .mid-row .mid {
  background-image: url("../../../assets/Gallery/xtent.jpeg");
  background-size: cover;
}
section.gallery .mid-row .right {
  background-image: url("../../../assets/Gallery/d.jpg");
  background-size: cover;
}
