@keyframes slide_right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_left {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
