section.parallax {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../assets/Gallery/t.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
section.parallax .wrapper {
  width: 90%;
  text-align: center;
  color: white;
}

section.parallax h1 {
  font-size: var(--base);
  margin-bottom: 20px;
  color: var(--dk-gold);
}
section.parallax p {
  font-size: var(--xs);
  margin-bottom: 20px;
  line-height: 1.4;
}

/*Md*/
@media (min-width: 768px) {
  section.parallax .wrapper {
    width: 70%;
  }

  section.parallax h1 {
    font-size: var(--md);
    margin-bottom: 30px;
  }
  section.parallax p {
    font-size: var(--sm);
    margin-bottom: 30px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.parallax {
    margin-top: 60px;
  }
  section.parallax .wrapper {
    max-width: 700px;
  }
  section.parallax h1 {
    font-size: var(--lg);
    margin-bottom: 30px;
  }
  section.parallax p {
    font-size: var(--sm);
    margin-bottom: 30px;
  }
}

/*XXl*/
@media (min-width: 1536px) {
  section.parallax .wrapper {
    max-width: 1000px;
  }
  section.parallax h1 {
    font-size: var(--xl);
    margin-bottom: 30px;
  }
  section.parallax p {
    font-size: var(--base);
    margin-bottom: 30px;
  }
}

/*2k*/
@media (min-width: 2000px) {
  section.parallax .wrapper {
    max-width: 1500px;
  }
  section.parallax h1 {
    font-size: var(--xxl);
    margin-bottom: 30px;
  }
  section.parallax p {
    font-size: var(--md);
    margin-bottom: 30px;
  }
}
