section.specialties {
  padding: 40px 0;
  background: snow;
}
section.specialties h1 {
  text-align: center;
  margin: 50px 0;
  color: var(--dk-mauve);
  font-size: var(--md);
}
section.specialties h3 {
  font-size: var(--sm);
}
section.specialties p {
  line-height: 1.4;
}
section.specialties .wrapper {
  display: grid;
  grid: repeat(6, 1fr) / repeat(1, 1fr);
  gap: 20px;
  width: 96%;
  margin: auto;
}
section.specialties .wrapper div {
  height: 250px;
  display: grid;
  place-content: center;
  padding: 40px;
  gap: 15px;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);
}
section.specialties .wrapper div img {
  width: 40px;
}
section.specialties .wrapper div:last-child {
  background: var(--mauve);
  color: var(--lt-grey);
}
section.specialties .wrapper div:last-child h3 {
  color: var(--lt-gold);
}
section.specialties .wrapper div:last-child img {
  width: 20px;
}

/*Md*/
@media (min-width: 768px) {
  section.specialties .wrapper {
    grid: repeat(3, 1fr) / repeat(2, 1fr);
  }
  section.specialties .wrapper div {
    height: 280px;
  }
  section.specialties .wrapper div:last-child img {
    width: 25px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.specialties .wrapper {
    grid: repeat(2, 1fr) / repeat(3, 1fr);
    width: 90%;
  }
  section.specialties h1 {
    font-size: var(--lg);
    margin: 80px 0;
  }
}
/*XXl*/
@media (min-width: 1536px) {
  section.specialties {
    padding: 60px 0;
  }
  section.specialties h1 {
    font-size: var(--xl);
    margin: 100px 0;
  }
  section.specialties h3 {
    font-size: 1.8rem;
  }
  section.specialties p {
    font-size: var(--xs);
  }
  section.specialties .wrapper div img {
    width: 70px;
  }
  section.specialties .wrapper div {
    height: 350px;
    padding: 40px;
    gap: 20px;
  }
  section.specialties span a {
    font-size: 2rem;
  }
  section.specialties .wrapper div:last-child img {
    width: 40px;
  }
}

/*2k*/
@media (min-width: 2000px) {
  section.specialties {
    padding: 120px 0;
  }
  section.specialties .wrapper {
    gap: 50px;
  }
  section.specialties h1 {
    font-size: var(--xxxxl);
    margin: 140px 0;
  }
  section.specialties h3 {
    font-size: var(--lg);
  }
  section.specialties p {
    font-size: 1.9rem;
  }
  section.specialties .wrapper div img {
    width: 100px;
  }
  section.specialties .wrapper div {
    height: 600px;
    padding: 60px;
    gap: 40px;
  }
  section.specialties span a {
    font-size: 3rem;
  }
  section.specialties .wrapper div:last-child img {
    width: 60px;
  }
}

/*4k*/
@media (min-width: 3000px) {
  section.specialties {
    padding: 120px 0;
  }
  section.specialties .wrapper {
    gap: 60px;
  }
  section.specialties h1 {
    font-size: var(--xxxxl);
    margin: 160px 0;
  }
  section.specialties h3 {
    font-size: 3.5rem;
  }
  section.specialties p {
    font-size: 2.5rem;
  }
  section.specialties .wrapper div img {
    width: 120px;
  }
  section.specialties .wrapper div {
    height: 700px;
    padding: 80px;
    gap: 40px;
  }
  section.specialties span a {
    font-size: 3.4rem;
  }
  section.specialties .wrapper div:last-child img {
    width: 60px;
  }
}
