.btn {
  display: flex;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
}
.btn a {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  color: var(--lt-grey);
}
.btn .arrow_icon {
  width: 1.3rem;
}
/*Sm*/
@media (min-width: 640px) {
  .btn {
    display: flex;
    align-items: center;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn a {
    font-size: 1.6rem;
  }
  .btn .arrow_icon {
    width: 1.6rem;
  }
}
/*XXl*/
@media (min-width: 1536px) {
  .btn a {
    font-size: var(--base);
  }
  .btn .arrow_icon {
    width: 2rem;
  }
}

/*2k*/
@media (min-width: 2000px) {
  .btn a {
    font-size: var(--lg);
  }
  .btn .arrow_icon {
    width: 4rem;
  }
}
