/*Turn off desktop version of nav menu*/
header #desktop_menu {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40px;
  z-index: 2;
  color: white;
}
header .logo {
  font-size: 28px;
  color: var(--dk-mauve);
}
header #mobile_menu {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  color: white;
  display: grid;
  place-items: center;
  transition: height 0.5s ease;
  transform: translateY(100%);
  overflow: hidden;
  height: 0;
}
header .mobile_burger {
  display: grid;
  height: 25px;
}
header .mobile_burger div {
  height: 4px;
  border-radius: 2rem;
  width: 25px;
  background: white;
}

/******
****
* Responsive Design Section
****
*****/

/*Md*/
@media (min-width: 768px) {
  header {
    padding: 0 40px;
  }
  header .logo {
    font-size: 32px;
  }
  /*Turn of mobile version nav menu*/
  header .mobile_burger,
  header #mobile_menu {
    display: none;
  }
  header #desktop_menu {
    color: var(--dk-mauve);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 60%;
    max-width: 600px;
    font-size: 1.1rem;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  header #desktop_menu {
    width: 60%;
    font-size: 1.3rem;
  }
}

/*3xl*/
@media (min-width: 2000px) {
  header {
    padding: 0 60px;
  }
  header {
    height: 80px;
  }
  header .logo {
    font-size: 44px;
  }
  header #desktop_menu {
    width: 60%;
    font-size: 2rem;
    max-width: 1000px;
  }
}

/*4xl*/
@media (min-width: 3000px) {
  header {
    height: 80px;
    padding: 0 60px;
  }
  header .logo {
    font-size: 4rem;
  }
  header #desktop_menu {
    width: 60%;
    font-size: 2.5rem;
    max-width: 1200px;
  }
}
