/*Turn off desktop version of nav menu*/
header #desktop_menu {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  color: white;
}
header .logo {
  width: 40px;
}
header #mobile_menu {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  color: white;
  display: grid;
  place-items: center;
  transition: height 0.5s ease;
  transform: translateY(100%);
  overflow: hidden;
  height: 0;
}
header .mobile_burger {
  display: grid;
  height: 25px;
}
header .mobile_burger div {
  height: 3px;
  border-radius: 2rem;
  width: 25px;
  background: white;
}

/*Md*/
@media (min-width: 768px) {
  /*Turn of mobile version nav menu*/
  header .mobile_burger,
  header #mobile_menu {
    display: none;
  }

  header {
    padding: 5px 40px;
  }
  header #desktop_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 430px;
    font-size: 0.9rem;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  header #desktop_menu {
    width: 60%;
    max-width: 480px;
    font-size: 1.1rem;
  }
  header {
    padding: 8px 80px;
  }
  header .logo {
    width: 55px;
  }
}
/*XXl*/
@media (min-width: 1536px) {
  header .logo {
    width: 70px;
  }
}
/*3xl*/
@media (min-width: 2000px) {
  header {
    padding: 10px 150px;
  }
  header .logo {
    width: 80px;
  }
  header #desktop_menu {
    width: 60%;
    font-size: 1.8rem;
    max-width: 1000px;
  }
}

/*4xl*/
@media (min-width: 3000px) {
  header .logo {
    width: 120px;
  }
  header #desktop_menu {
    width: 60%;
    font-size: 2.5rem;
    max-width: 1200px;
  }
}
