@import url("../../animations/fade_in.css");
article.hero {
  animation: fade_in 6s;
}
article.hero h1 {
  animation: fade_in 8s;
}
article.hero p {
  animation: fade_in 10s;
}
article.hero span {
  animation: fade_in 11s;
}

article.hero {
  margin-left: 10px;
  border-left: var(--dk-mauve) solid 6px;
  display: grid;
  place-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
article.hero h1 {
  font-size: var(--lg);
  color: var(--dk-gold);
  line-height: 1.2;
}
article.hero p {
  font-size: var(--xs);
  color: var(--lt-gold);
  width: 80vw;
}

/*Md*/
@media (min-width: 768px) {
  article.hero {
    position: absolute;
    bottom: 60px;
    right: 5%;
    height: auto;
  }
  article.hero h1 {
    font-size: var(--lg);
  }
  article.hero p {
    font-size: var(--sm);
    width: 50vw;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  article.hero h1 {
    font-size: var(--xl);
  }
}

/*2xl*/
@media (min-width: 1536px) {
  article.hero {
    bottom: 10%;
    gap: 30px;
  }
  article.hero h1 {
    font-size: var(--xxxl);
  }
  article.hero p {
    font-size: var(--base);
    width: 50vw;
  }
  article.hero img {
    width: 3rem;
  }
}

/*3xl*/
@media (min-width: 2500px) {
  article.hero {
    bottom: 15%;
    gap: 40px;
  }
  article.hero h1 {
    font-size: var(--k);
  }
  article.hero p {
    font-size: var(--lg);
    width: 50vw;
  }
}
