@import url("../../animations/slide.css");

.features_box {
  display: none;
}

/*Xl*/
@media (min-width: 1280px) {
  .features_box {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 70px;
    left: 40px;
    width: 180px;
    display: grid;
    place-items: center;
    padding: 20px 0;
    transform: translateX(-200%);
  }
  .features_box {
    animation: slide_right 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  .features_box div {
    display: grid;
    padding: 10px;
    gap: 5px;
  }
  .features_box h3 {
    color: var(--dk-gold);
    font-size: var(--sm);
  }
  .features_box menu {
    display: grid;
    gap: 5px;
    padding: 5px;
  }
  .features_box menu p {
    color: white;
  }
  .features_box div img {
    width: 60px;
  }
}

/*XXl*/
@media (min-width: 1536px) {
  .features_box {
    top: 80px;
    left: 50px;
    width: 250px;
  }
  .features_box div {
    padding: 15px;
    gap: 10px;
  }
  .features_box h3 {
    font-size: var(--base);
  }
  .features_box menu p {
    font-size: var(--sm);
  }
  .features_box div img {
    width: 80px;
  }
}

/*2k*/
@media (min-width: 2000px) {
  .features_box {
    top: 120px;
    left: 60px;
    width: 350px;
  }
  .features_box div {
    padding: 20px;
    gap: 10px;
  }
  .features_box h3 {
    font-size: var(--lg);
  }
  .features_box menu p {
    font-size: var(--base);
  }
  .features_box div img {
    width: 120px;
  }
}

/*4k*/
@media (min-width: 3000px) {
  .features_box {
    top: 130px;
    left: 100px;
    width: 400px;
  }
  .features_box div {
    padding: 40px;
  }
  .features_box h3 {
    font-size: var(--lg);
  }
  .features_box menu {
    padding: 10px;
  }
  .features_box menu p {
    font-size: var(--md);
  }
  .features_box div img {
    width: 170px;
  }
}
