@import url("./article.css");
@import url("./features.css");

section.home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../assets/Home/hero_mobile2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 300px;
  display: flex;
  align-items: center;
}

/*Md*/
@media (min-width: 768px) {
  section.home {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../../assets/Home/hero.jpg");
    display: block;
  }
}
