article.hero {
  position: absolute;
  bottom: 30%;
  margin-left: 10px;
  border-left: var(--dk-mauve) solid 6px;
  display: grid;
  place-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
article.hero h1 {
  font-size: var(--lg);
  color: var(--dk-gold);
}
article.hero p {
  font-size: var(--xs);
  color: var(--lt-gold);
  width: 80vw;
}
article.hero span {
  display: flex;
  align-items: center;
}
article.hero span:hover {
  cursor: pointer;
}
article.hero a {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  color: white;
}
article.hero img {
  width: 1.5rem;
}

/*Md*/
@media (min-width: 768px) {
  article.hero {
    position: absolute;
    bottom: 60px;
    right: 5%;
    height: auto;
  }
  article.hero h1 {
    font-size: var(--xl);
  }
  article.hero p {
    font-size: var(--sm);
    width: 50vw;
  }
  article.hero a {
    font-size: var(--sm);
  }
}

/*2xl*/
@media (min-width: 1536px) {
  article.hero h1 {
    font-size: var(--xxxl);
  }
  article.hero p {
    font-size: var(--base);
    width: 50vw;
  }
  article.hero a {
    font-size: var(--base);
  }
  article.hero img {
    width: 3rem;
  }
}

/*3xl*/
@media (min-width: 2000px) {
  article.hero h1 {
    font-size: var(--k);
  }
  article.hero p {
    font-size: var(--kp);
    width: 50vw;
  }
  article.hero a {
    font-size: var(--kp);
  }
  article.hero img {
    width: 4rem;
  }
}
