section.extensions {
  padding: 40px 0;
  background: var(--dk-grey);
  min-height: 100vh;
}
section.extensions img {
  width: 200px;
  margin: auto;
  padding-bottom: 50px;
}
section.extensions .wrapper {
  width: 95%;
  max-width: 500px;
  margin: auto;
}
section.extensions .left {
  display: grid;
  place-items: center;
}
section.extensions article {
  display: grid;
  gap: 15px;
  color: var(--lt-grey);
}
section.extensions article p {
  line-height: 1.4;
}
section.extensions article h2 {
  font-size: var(--base);
  color: var(--dk-gold);
}
section.extensions button {
  height: 40px;
  margin: 15px auto;
  font-size: var(--xs);
  width: 200px;
}

/*Md*/
@media (min-width: 768px) {
  section.extensions article h2 {
    font-size: var(--md);
  }
  section.extensions article p {
    font-size: var(--xs);
    line-height: 1.6;
  }
  section.extensions button {
    height: 40px;
    font-size: var(--xs);
    width: 200px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.extensions {
    padding: 100px 0;
  }
  section.extensions .wrapper {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
  }
  section.extensions article {
    gap: 20px;
    width: 650px;
  }
  section.extensions article p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  section.extensions img {
    width: 300px;
    padding: 0 10px;
  }
  section.extensions button {
    margin: 15px 0;
  }
}

/*XXl*/
@media (min-width: 1536px) {
  section.extensions {
    padding: 100px 0;
  }
  section.extensions .wrapper {
    max-width: 1500px;
  }
  section.extensions article {
    gap: 30px;
    width: 800px;
  }
  section.extensions img {
    width: 500px;
  }
  section.extensions article h2 {
    font-size: var(--xl);
  }
  section.extensions article p {
    font-size: 1.8rem;
  }
  section.extensions button {
    height: 65px;
    margin: 20px 0;
    font-size: var(--base);
    width: 400px;
  }
}

/*2k*/
@media (min-width: 2000px) {
  section.extensions {
    padding: 100px 0;
  }
  section.extensions .wrapper {
    max-width: 1900px;
  }
  section.extensions article {
    gap: 35px;
    width: 1000px;
  }
  section.extensions img {
    width: 600px;
  }
  section.extensions article h2 {
    font-size: var(--xxl);
  }
  section.extensions article p {
    font-size: 2rem;
  }
  section.extensions button {
    height: 80px;
    margin: 20px 0;
    font-size: var(--md);
    width: 400px;
  }
}

/*4k*/
@media (min-width: 3000px) {
  section.extensions {
    padding: 140px 0;
  }
  section.extensions .wrapper {
    max-width: 2300px;
  }
  section.extensions article {
    gap: 35px;
    width: 1200px;
  }
  section.extensions img {
    width: 800px;
  }
  section.extensions article h2 {
    font-size: var(--xxxxl);
  }
  section.extensions article p {
    font-size: 3rem;
  }
  section.extensions button {
    height: 80px;
    margin: 20px 0;
    font-size: var(--md);
    width: 400px;
  }
}
